@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(110deg, #a9c0a26b 0%, #97e5f123 10%);;
}

.bg-brand-blue { background-color: #144487; }
.text-brand-blue { color: #144487; }

/* Custom Scrollbar using Brand Blue */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f8fafc;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #144487; /* Main Blue */
}

/* Updated Button using Brand Blue */
.mainbutton {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  padding: 0.8em 1.3em;
  color: white;
  background: #144487;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.mainbutton:hover {
  background: #0d2e5c;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(20, 68, 135, 0.2);
}